.idea/
.sass-cache/
static/
stats/
errors/
upload/
bitrix/html_pages/
bitrix/backup/
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/stats/
bitrix/bx_fmt.php
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/modules/updater.log
bitrix/modules/updater_partner.log
bitrix/themes/.default/modules.css
node_modules/
*.settings.php
*.tgz
*.iml
*.sql
*.swp
.htaccess
.htpasswd
sitemap*.xml
site_checker*.log
robots.txt
